
form {
    margin-top: 3rem;
    display: flex;
    gap: .4rem;
    padding: 1rem 0;
}
.containerInput{
    position: relative;
}
.input{
    background-color: var(--main-white);
    border: solid 1px var(--main-gray);
    border-radius: 10px;
    padding: 10px 5px;
    padding-left: 20px;
    padding-left: 25px;
    outline: none;
    transition: all .5s;
    width: 100%;
    font-size: 2rem;
}

.input:focus{
    border: solid 1px var(--main-purple);
}

.input::placeholder{
    color: var(--main-purple);
}

.input:focus::placeholder 
{
    font-size: 1.7rem;
    transition: all .5s;
    text-align: center;
}

.labelFucus{
    font-size: 1.3rem;
}


.label{
    position: absolute;
    top: 25%;
    margin-left: .35rem;
    font-size: 1.8rem;
    color: var(--main-purple);
}

.btn{
    padding: .8rem .6rem;
    font-size: 1.6rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
 .addTodo{
    background-color: var(--main-purple);
    border: solid 1px var(--main-purple);
    color: var(--white-primary);
}

.updatedTodo{
    background-color: var(--secondary-purple);
    border: solid 1px var(--secondary-purple);
    color: var(--white-primary);
    transition: all .5s;
}

.updatedTodo:hover{
    background-color: var(--main-purple);
    border: solid 1px var(--main-purple);
    color: var(--white-primary);
}

